/* Общие стили для контейнера */
.container {
    max-width: 600px;
    margin-top: 50px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Стили для заголовка */
h2.text-center {
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
}

/* Стили для формы */
form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Добавляем отступ между полями */
}

/* Стили для полей формы */
form input, form select, form textarea {
    padding: 10px;
    margin-bottom: 10px; /* Убираем лишние отступы между полями */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%; /* Делаем поля формы шириной 100% */
    box-sizing: border-box; /* Включаем padding и border в размер элемента */
}

/* Стили для кнопки */
button.btn.btn-success {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start; /* Выравнивание кнопки */
}

button.btn.btn-success:hover {
    background-color: #218838;
}

/* Стили для полей с ошибками */
form .invalid-feedback {
    color: red;
    font-size: 14px;
}

/* Отступы для кнопки */
button[type="submit"] {
    margin-top: 20px;
}

/* Стили для CSRF-токена */
form input[name="csrfmiddlewaretoken"] {
    display: none;
}
